#results, #favs {
margin-left:75px;
}



.giphyBtn {
height:150px;
width:225px;
margin-right:5px;



}

.giphyRating {
color:white;
margin-right:5px;
font-size:14px;
width:225px;
height:55px;
padding-left:10px;
padding-right:5px;
background-color:  #145374;


}

.giphyCont {
float:left;
margin-bottom:10px;
}

.gif-title {
text-align: center;
font-size:14px;
margin-right:5px;
color:white;
background-color:  #145374;

width:225px;
}

.fav {
float:right;
margin-right:60px;
margin-top:5px;
height:10px;
}

.download {
float:right;
margin-right:5px;
padding-right:0px;
color:white;

}

.download:hover {
color:#525252;
}

#show-more {
display:none;
padding-left:20px;
padding-top:10px;
}



.char-btn{
margin-right:2px;
margin-bottom:2px;
margin-top:2px;
background-color: #145374;
color:white;
}

.navbar-toggler-icon {
height:15px;
width:15px;
}

#add-text {
width:200px;
}

.card-margin-bot {
margin-bottom:16px;
}

.wrap {
overflow-wrap:break-word;
}

body {
background-color: lightgray;
}

#add {
background-color: #525252;
color:white;
}

.search, #favorites-header, #results-header,#related-header, #char-header {
color:white;
background-color: #525252;
}

#search-box {
padding-left:20px;
}

#clear {
padding-left:20px;
padding-top:10px;
}

#buttons{
padding-top:10px;
padding-bottom:5px;
}

.btn-sec-clr, .search {
background-color: #CA3E47;
color:white;
}

.info {
font-size: 12px;
color:#CA3E47;
padding-left:20px;
padding-top:5px;
}

.info-1 {
    font-size: 16px;
    color:#145374;
    padding-left:20px;
    padding-bottom:5px;
    padding-top:5px;
    }


.mov-poster {
margin-right:30px;
}

a {
color: #CA3E47;
  }
/* Fav check*/


input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:23px;
    height:16px; 
    display:inline-block;
    line-height:16px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:16px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -16px;
}
label.css-label {
background-image:url(https://csscheckbox.com/checkboxes/u/csscheckbox_b40baf6284b796ba6143c00696887e9e.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}